[program:vllm]
command=/bin/bash /home/jovyan/GenericRagModels/start_reranker.sh
directory=/home/jovyan/GenericRagModels
user=root
autostart=true
autorestart=true
startsecs=5

# Send stop signal to the whole process group
stopasgroup=true
killasgroup=true

# Give vLLM more time to gracefully flush and release GPU memory
stopwaitsecs=30 

# We only need to pass the virtual environment PATH here
environment=PATH="/home/jovyan/GenericRagModels/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
stdout_logfile=/var/log/vllm-stdout.log
stderr_logfile=/var/log/vllm-stderr.log